.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* Light gray background color */
    margin-top: 11%;
}

h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    /* Adjust the padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 40px;
    /* Take up full width */
}

label {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    /* Take up full width */
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .container {
        max-width: 600px;
    }
}