body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin-left: 3%;
}

.jumbotron>p {
    margin-left: 3%;
}

/* Navigation Bar Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}


.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    background-color: #007bff;
    /* Blue color for Sign Up and Sign In */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Features Section */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature img {
    width: 100%;
    height: auto;
}

.feature-content {
    padding: 20px;
}

.feature-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 16px;
    color: #555;
}

/* Footer Styles */
/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    flex: 0 0 32%;
  }
  
  h5 {
    color: #ffc107;
    font-size: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-links li {
    margin-bottom: 10px;
  }
  
  .social-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links li a:hover {
    text-decoration: underline;
  }
  
  